  <!-- Footer-->
  <footer class="py-5" id="footer">
    <div class="container px-5">
      <p class="m-0 text-center text-black">Made With <img src="images/heart.png" alt="Heart" class="heart"> From Bagels & Bialys</p>
    </div>
  </footer>