<%- include('partials/header') %>


<div class="container-fluid g-0" id="header">
    <div class="image-fluid">
      <img class="header-image" src="images/bagels.JPG" alt="Bagels">
    </div>
  </div>


  <!-- Features section-->
  <section class="py-5" id="features">
    <div class="features">
      <h1>Bagels & Bialys</h2>

        <div class="feature-one">
          <div class="image-fluid">
            <img class="bagel1" src="images/bagel1.png" alt="Bagel1">
          </div>

          <h3><u>Location:</u></h3>
          <p class="location"><a class="links" href="https://www.google.com/maps/dir/40.7699456,-73.4756864/arizona+bagels+n+bialys/@35.9067065,-110.6362073,4z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x872baf610f049155:0x93501ecfc3429603!2m2!1d-111.6889765!2d33.3782914">2060 South Power Rd, Mesa, Arizona 8520</a></p>
          <!-- <iframe src=”https://www.google.com/maps/dir//arizona+bagels+and+bialys/@33.3782717,-111.7590166,12z/data=!3m1!4b1!4m9!4m8!1m1!4e2!1m5!1m1!1s0x872baf610f049155:0x93501ecfc3429603!2m2!1d-111.6889765!2d33.3782914” width=”600” height=”450” frameborder=”0” style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
          
        </div>
        <div>
          <div class="feature-two">

            <h3>About Us:</h3>
            
            <ul class="unorderd">
              <hr>
              <li>Open From <b>6:00 AM - 2:30 PM</b> All Week!</li>
              <hr>
              <li>Come on in! Or order online for <em>New York</em> style bagels.</li>
              <hr>
              <li>We're a Family Owned Business!</li>
              <hr>
              <li>Home of the <em>famous</em> Nova Sandwich and French Toast Bagel.</li>
              <hr>
              <li>We Cater! Call to place a catering order.</li>
              <hr>
              <li>Phone Number: <a class="links" href="tel:4807200638">(480)720-0638</a></li>
            </ul>

            <!-- <ul class="list-items">
              <li>Open From <b>6:00 AM - 2:30 PM</b> All Week!</li>
              <li>Come on in! Or order online for <b><em>New York Style</em></b> bagels.</li>
              <li>Home of the <em>famous</em> Nova Sandwich and French Toast Bagel.</li>
              <li>We Cater! Place an order <a class="cater" href="#cater"><b>Here</b></a></li>
              <li>Phone Number: <a href="tel:4807200638">(480)720-0638</a></li>
            </ul> -->

          </div>
        </div>
    </div>
  </section>
  <!-- Order Online-->
  <section class="bg-light py-5 border-bottom" id="order">
    <div class="container px-5 my-3">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">Get it Delivered!</h2>
        <p class="lead mb-0">Place an order through your favorite delivery app.</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <!-- Doordash-->
        <div class="col-lg-6 col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="mb-3">
                  <div class="d-flex justify-content-center">
                  <a href="https://www.doordash.com/store/arizona-bagels-n-bilays-mesa-23161911/?Delivery=true&utm_campaign=gpa"><img class="card-image" src="images/doordash-image.png" alt="Doordash"></a>
                  </div>
                </div>
              <div class="d-grid"><a class="btn btn-outline-danger" href="https://www.doordash.com/store/arizona-bagels-n-bilays-mesa-23161911/?Delivery=true&utm_campaign=gpa">Order </a></div>
            </div>
          </div>
        </div>
        <!-- Uber Eats-->
        <div class="col-lg-6 col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="mb-3">
                  <div class="d-flex justify-content-center">
                  <a href="https://www.ubereats.com/store/arizona-bagel-n-bialys/P6Qz3IxuRkmAEgkoFJ9d0Q?utm_campaign=place-action-link&diningMode=DELIVERY&utm_medium=organic&utm_source=google"><img class="card-image" src="images/uber-eats-photoshop.png" alt="UberEats"></a>
                  </div>
                </div>
              <div class="d-grid"><a class="btn btn-outline-success" href="https://www.ubereats.com/store/arizona-bagel-n-bialys/P6Qz3IxuRkmAEgkoFJ9d0Q?utm_campaign=place-action-link&diningMode=DELIVERY&utm_medium=organic&utm_source=google">Order</a></div>
            </div>
          </div>
        </div>
        <!-- Postmates-->
        <div class="col-lg-6 col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="mb-3">
                  <div class="d-flex justify-content-center">
                  <a href="https://postmates.com/store/arizona-bagel-n-bialys/P6Qz3IxuRkmAEgkoFJ9d0Q?utm_campaign=place-action-link&diningMode=DELIVERY&utm_medium=organic&utm_source=google"><img class="card-image" src="images/postmates-photoshop.png" alt="Postmates"></a>
                  </div>
                </div>
              <div class="d-grid"><a class="btn btn-outline-secondary" href="https://postmates.com/store/arizona-bagel-n-bialys/P6Qz3IxuRkmAEgkoFJ9d0Q?utm_campaign=place-action-link&diningMode=DELIVERY&utm_medium=organic&utm_source=google">Order</a></div>
            </div>
          </div>
        </div>
  </section>
  <!-- Testimonials section-->
  <section class="py-5 border-bottom" id="pickup">
    <div class="container px-5 my-5 px-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Pick it Up!</h1>
        <p class="lead mb-0">Order online and pick it up in store.</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6  ">
          <!-- Testimonial 1-->
          <div class="card mb-4">
            <div class="card-body toast-card">
                <div class="d-flex  justify-content-center">
                  <a href="https://www.toasttab.com/arizona-bagels-bialys-1061-e-santa-fiore-street/v3/?utm_source=google&utm_medium=organic&utm_campaign=gmb-oo-menu"><img class="card-image" src="images/toast-logo.png" alt="Toast"></a>
                  </div>
                  <div>
                    <div class="d-grid"><a class="btn btn-lg btn-outline-secondary" href="https://www.toasttab.com/arizona-bagels-bialys-1061-e-santa-fiore-street/v3/?utm_source=google&utm_medium=organic&utm_campaign=gmb-oo-menu">Order</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
  
  </section>
  <!-- Contact section-->
  

  <%- include('partials/footer') %>